.double-text-spacing{
    line-height: 1.75;
    opacity: 1;
}
#education-contents{
    margin-top:450px;
    opacity: 0;
}
#scroll-arrow{
    opacity: 1;
}
.bordered-text{
    text-shadow:
    -1px -1px 0 #FFF,
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
    1px 1px 0 #FFF; 
}
.bordered-text-black{
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}
#university-background{
    background-image: url("assets/images/universityBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 48.75%;
}
.smooth-edges{
    border-radius: 10px;
}
.project-images{
    border: 1px solid black;
    max-width: 7in;
}
.card-list-text-box{
    min-width: 400px;
}
.normal-font-size{
    font-size: 20px;
}
html {
    scroll-behavior: smooth;
}